@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter' sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-10 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(83, 4, 4, 0.1);    
}

.hamburger-line{
    @apply bg-dark w-[30px] h-[2px] my-2 block dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45 transition;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}
#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
}

/* Animasi loading */
.spinner .rec1,
.spinner .rec2,
.spinner .rec3,
.spinner .rec4,
.spinner .rec5,
.spinner .rec6 {
  @apply rounded-full;
  background-color: #ffbe0b;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rec1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rec2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rec3 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rec4 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rec5 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner .rec6 {
  -webkit-animation-delay: -0.6;
  animation-delay: -0.6;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

